<!DOCTYPE html>
<html>

{% include 'index_head.html' %}

<body>

  <button class="btn btn-success" id="processing" > <i class="fa fa-chevron-right" aria-hidden="true"></i> launch </button>


<script>

$(document).ready(function(){

    var socket = io.connect('http://' + document.domain + ':' + location.port );

    socket.on('response', function(mess){
          alert(mess)
    })

    // setInterval(function(){
    //       socket.emit('mess', 'Hello the gugus !!!')
    //       //alert('blurp')
    // }, 1000)

    socket.on('refresh', function(mess){
          alert("refresh pic !!!")
    })

    {% include 'spec_refresh.html' %}

    $('#processing').click(function(){
        socket.emit('trig','')
    })


});


</script>



</body>
</html>
