<!DOCTYPE html>
<html>

{% include 'index_head.html' %}


<body>

{% include 'header_doc_exit.html' %}

{% include 'params_experim.html' %}

{% include 'spec_plot.html' %}

{% include 'proc.html' %}

<script>

$(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port );  //+ '/test'

    {% include 'calculate_times.html' %}

    //------- Launch the processing

    {% include 'proc_trig.html' %}

    {% include 'spec_refresh.html' %}

});

$('#refresh').hide()

</script>

   {% include 'footer.html' %}

</body>
</html>
