<!DOCTYPE html>
<html>

{% include 'index_head.html' %}


<body>

{% include 'header_doc_exit.html' %}

<!-- Processing steps :
          file processed,
          steps in processing
          num image
 -->


{% include 'params_experim.html' %}

{% include 'spec_plot.html' %}

{% include 'proc.html' %}

{% include 'settings.html' %}


<script>

$(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port );  //+ '/test'

    //------- Launch the processing

    {% include 'proc_trig.html' %}

    /*

    */

     socket.on('new_spec', function(){
         $('#spectrum_plot').attr('src', 'static/curr_pic/intensities.png' + '?t='  + new Date().getTime())
       })


});

manage_drop()                                          // manage the Dropzone

$('#refresh').hide()

</script>

   {% include 'footer.html' %}

</body>
</html>
