<!DOCTYPE html>
<html>

{% include 'index_head.html' %}


<body>

{% include 'header_doc_exit.html' %}

<!-- Processing steps :
          file processed,
          steps in processing
          num image
 -->

{% include 'proc_steps.html' %}

{% include 'proc_result.html' %}

{% include 'params_experim.html' %}

{% include 'spec_plot.html' %}

{% include 'proc.html' %}

{% include 'settings.html' %}


<script>

$(document).ready(function(){
    var socket = io.connect('http://' + document.domain + ':' + location.port );  //+ '/test'

    //------- Launch the processing

    {% include 'proc_trig.html' %}

    /*
        Refresh the processing steps :
              file processed,
              steps in processing
              num image
    */

    {% include 'proc_steps_refresh.html' %}

    //------- Indicates which file is currently processed

    {% include 'proc_curr_refresh.html' %}

    //------- Name of the last processing done..

    {% include 'proc_result_refresh.html' %}

    //--------

    {% include 'settings_actions.html' %}


});

manage_drop()                                          // manage the Dropzone

$('#refresh').hide()

</script>

   {% include 'footer.html' %}

</body>
</html>
