<!-- input pressures -->

<div id="params_input_pressures" >


    {% for i in [1,2,3,4,5] %}

     <div>
       <label for="nbfits"> P{{i}} </label>
       <input type="number"  id="P{{i}}"  value='0' style="width:50px; margin-left:20px;">
     </div>

     {% endfor %}

     <!-- integration time -->

     <div>
       <label for=""> integ time </label>
       <input type="number"  id="t_integration_s"  value='15' style="width:50px; margin-left:20px;">
     </div>

     <!-- time step -->

     <div>
       <label for=""> time step </label>
       <input type="number"  id="t_step_min"  value='3' style="width:50px; margin-left:20px;">
     </div>

     <div>
       <label for=""> delta P </label>
       <input type="number"  id="delta_P"  value='25' style="width:50px; margin-left:20px;">
     </div>

     <div>
       <label for=""> replicates </label>
       <input type="number"  id="replicates"  value='1' style="width:50px; margin-left:20px;">
     </div>

</div>
