<!-- input pressures -->

<div id="params_input_pressures" >

    {% set lgates = ['Oil', 'NPs', 'CrosLin', 'Water', 'Titrant'] %}
    {% set lreserv = ['Mineral', 'batch_MD087', 'PEG,PEI,EBT', 'Evian_water', 'EDTA_4mM'] %}
    {% for i in [1,2,3,4,5] %}

         <div class='gate' style="left:{{i*70}}px;">
             <div class='tit_gate' > Gate{{i}} </div>
             <div > {{lgates[i-1]}} </div>
             <input class='tit_reserv' id="tit_res{{i}}" value={{lreserv[i-1]}} >
             <div></div>
             <input class='input_gate' type="number"  id="P{{i}}"  value='0' >
             <div></div>
             <div class='value_gate' type="number"  id="Pvalue{{i}}" > </div>
         </div>

     {% endfor %}

     <div class='name_param_gate' style="top:55px;" > Reservoir </div>
     <div class='name_param_gate' style="top:75px;" > Request </div>
     <div class='name_param_gate' style="top:102px;" > Measured </div>

</div>
