<div  class="params_speed">

    <!-- NPs -->

    <div class="NPs">

      <div style="color:black;"> F-UNIT 1 (NPs) </div>
      <input class='input_speed' type="text" id="NPs" >
      <span > µl/min </span>

    </div>

    <!-- CrosLin -->

    <div class="CrosLin">

      <div style="color:red;"> F-UNIT 2 (CrosLin) </div>
      <input class='input_speed' type="text" id="CrosLin" >
      <span > µl/min </span>

    </div>

    <!-- Water -->

    <div class="Water">

      <div style="color:green;"> F-UNIT 3 (Water) </div>
      <input class='input_speed' type="text" id="Water" >
      <span > µl/min </span>

    </div>

    <!-- Titrant -->

    <div class="Titrant">

      <div style="color:blue;"> F-UNIT 4  (Titrant) </div>
      <input class='input_speed' type="text" id="Titrant" >
      <span > µl/min </span>

    </div>

</div>
