<!-- integration time -->

<div id="params_timings" >

    <!-- Switch board positions -->

    <div>
      <span > Switch board positions : </span>
      <input class='input_timings' type="text"  id="sb_pos"  value='1,2,3' >
    </div>

    <!-- Delta P -->

    <div>
      <span > DeltaP : </span>
      <input class='input_timings' type="number"  id="deltaP"  value='20' >
      <span > (mbar) </span>
    </div>

    <!-- integration time -->

    <div>
      <span > integration time : </span>
      <input class='input_timings' type="number"  id="t_integration_s"  value='15' >
      <span > (sec) </span>
    </div>

    <!-- time step -->

    <div>
      <span > step time : </span>
      <input class='input_timings' type="number"  id="t_step_min"  value='3' >
      <span > (min) </span>
    </div>

    <!-- Cycles -->

    <div>
      <span > Cycles : </span>
      <input class='input_timings' type="number"  id="cycles"  value='3' >
    </div>



</div>
