/*

Retrieving parameters for SERS experiment

*/

$('#processing').click(function(){                                                           // submit processing, associated to launch processings

    var list_params = []                         // params list


       $('#params_input_pressures  :input').each(function(){                                 //  Input pressures
               if ($(this).hasClass('check')){
                  if ( $(this).is(':checked') ){
                     list_params.push($(this).attr('id'))                                    // giving checkboxes an ID attribute
                   }
               }
               else { list_params.push( $(this).attr('id') + ':' + $(this).val() )}          // retrieve id and value from input
             }) // end input

       $('#params_timings :input').each(function(){                                //
               if ($(this).hasClass('check')){
                  if ( $(this).is(':checked') ){
                     list_params.push($(this).attr('id'))                                    // giving checkboxes an ID attribute
                   }
               }
               else { list_params.push( $(this).attr('id') + ':' + $(this).val() )}          // retrieve id and value from input
             }) // end input

       $('#params_speed :input').each(function(){                                            //   NPs, CrosLin, Water, Titrant
               if ($(this).hasClass('check')){
                  if ( $(this).is(':checked') ){
                     list_params.push($(this).attr('id'))                                    // giving checkboxes an ID attribute
                   }
               }
               else { list_params.push( $(this).attr('id') + ':' + $(this).val() )}          // retrieve id and value from input
             }) // end input

       $('.set_panel :input').each(function(){                                              // ## settings parameters
               if ($(this).hasClass('check')){
                  if ( $(this).is(':checked') ){
                     list_params.push($(this).attr('id'))                                   // giving checkboxes an ID attribute
                   }
               }
               else { list_params.push( $(this).attr('id') + ':' + $(this).val() )}          // retrieve id and value from input
             }) // end input


    all_params = JSON.stringify(list_params)               // list of the parameters for the processing

    //------------

    alert(all_params)

    socket.emit('params', all_params)                      // emit the params
    setTimeout(function(){}, 500)
    socket.emit('launch_proc', '')           // emit the files names

    //-------
    {% include 'proc_show_hide_alert.html' %}

})
